/* Base */
body{
	font-family:$base-font-family;
	font-size:$base-font-size;
	color:$base-font-color;
	line-height:$base-font-line-height;
}
/* Container Fluid */
.container-fluid {
	background-color:$main-bg-color;
    padding: 0 !important;
	margin: 0 !important;
	min-height: calc(100vh - #{$container-fluid-height});
	min-height: -webkit-calc(100vh - #{$container-fluid-height});
	min-height: -moz-calc(100vh - #{$container-fluid-height});
 }
 /* row */
.row{
	padding: 0 !important;
	margin: 0 !important;
}
/* Modal */
.close-modal{
	font-size:30px;
	color:red;
	cursor:pointer;
}
.help-block{
	color:$error-msg-font-color;
}
