/* Variables */

/* Font Style */
$base-font-size:1 em;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;
$base-font-line-height:1.7em;

/* Background Color */
$primary-color:#009688;
$secondary-color:#222d32;
$light-color:#e4eef2;
$dark-color:#2b5464;

/* Footer */
$footer-height:60px;
$footer-color:#222d32;
$footer-font-color:#ffffff;
$footer-text-pt:15px;

/* Header */
$header-mb:45px;

/* container fluid */
$container-fluid-height:105px;//$header-mb+$footer-height;
$container-fluid-bg:green;
/* Navbar Style*/
$navbar-bg-color:#009688;
$navbar-font-color:#ffffff;
$navbar-toggler-color:#ffffff;
$navbar-hover-color:#00635a;
$navbar-brand-color:#00635a;
$navbar-brand-hover-color:#009688;

/* Sidebar */
$sidebar-bg-color:#222d32;
$sidebar-font-color:#ffffff;
$sidebar-border-color:#009688;
$sidebar-dropdown-menu-color:#009688;
$sidebar-dropdown-item-font-color:#ffffff;
$sidebar-dropdown-hover-item-color:#E5E5E5;
$sidebar-dropdown-hover-item-font-color:#000000;
$dropdown-toggle-background-color:#00635a;
$dropdown-menu-width:213px;
$dropdown-nav-item-size:2px;
$dropdown-nav-item-type:solid;
$dropdown-nav-item-border-color:#ffffff;
$dropdown-nav-item-position:left;


/* date and time */
$date-time-background-color:#222d32;
$date-time-font-color:#ffffff;
$date-time-border-size:2px;
$date-time-border-type:groove;
$date-time-border-color:#009688;
$date-time-border-position:all;

/* Main*/
$main-bg-color:#E5E5E5;

/* Profile */
$profile-modal-form-bg-color:#222d32;
$profile-modal-form-font-color:#ffffff;
$profile-modal-form-border-color:#009688;
$profile-modal-form-border-type:solid;
$profile-modal-form-border-size:1px;
$profile-modal-btn-primary-bg-color:#009688;

/* Loading ..*/
$loading-img-src:'../images/Preloader_9.gif';
$loading-bg-color:#009688;

/* Login Form */
$login-form-bg-color:#222d32;
$login-form-font-color:#009688;
$login-form-btn-color:#009688;
$login-form-btn-font-color:#ffffff;

/* Form error font color */
$error-msg-font-color:red;