@charset "UTF-8";
/*
	Admin Panel Sass Theme
	Author: Mohammad Alsayyed
	Version: 0.0.1 
*/
/* Base - Base styles, variables, mixins, etc */
@font-face {
  font-family: 'DSDIGI';
  src: url("./webfonts/DSDIGI.eot");
  src: local("DSDIGI"), url("../webfonts/DSDIGI.woff") format("woff"), url("../webfonts/DSDIGI.ttf") format("truetype");
}

/* Variables */
/* Font Style */
/* Background Color */
/* Footer */
/* Header */
/* container fluid */
/* Navbar Style*/
/* Sidebar */
/* date and time */
/* Main*/
/* Profile */
/* Loading ..*/
/* Login Form */
/* Form error font color */
/* Pop Up Form */
/* Mixins - Copyright © Mohammad Alsayyed */
/* Border Radius: radius */
/* Add border: size,type,color and position */
/* Box Shadow: none,h-offset, v-offset, blur, spread, inset and color */
/* Normalize */
.show-text {
  display: inline !important;
}

/* cloak load resources*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
  background-color: #009688;
  /* The image used */
  background-image: url("../images/Preloader_9.gif");
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/**/
.loader {
  z-index: 10000;
  min-width: 100%;
  min-height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #009688;
  /* The image used */
  background-image: url("../images/Preloader_9.gif");
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Base */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 1 em;
  color: #666666;
  line-height: 1.7em;
}

/* Container Fluid */
.container-fluid {
  background-color: #E5E5E5;
  padding: 0 !important;
  margin: 0 !important;
  min-height: calc(100vh - 105px);
  min-height: -webkit-calc(100vh - 105px);
  min-height: -moz-calc(100vh - 105px);
}

/* row */
.row {
  padding: 0 !important;
  margin: 0 !important;
}

/* Modal */
.close-modal {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.help-block {
  color: red;
}

/*layout - layout blog, footer, header, etc */
/* Header */
.main-header {
  margin-bottom: 45px;
}

/* Footer */
.main-footer {
  text-align: center;
  background-color: #222d32;
  height: 60px;
  color: #ffffff;
  padding-top: 15px;
  margin-top: 0px;
}

/* Nav */
.navbar {
  background-color: #009688;
  color: #ffffff;
  padding: 0;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.navbar .navbar-toggler:hover {
  background-color: #00635a;
}

.navbar .navbar-brand {
  text-align: center;
  background-color: #00635a;
  color: #ffffff;
  cursor: pointer;
  padding: 9px;
}

.navbar .navbar-brand:hover {
  background-color: #009688;
  color: #ffffff;
  border-right: 1px solid #fff;
}

.navbar .nav-item {
  cursor: pointer;
  color: #ffffff;
}

.navbar .nav-item:hover {
  color: #00635a;
}

/* sidebar */
.sidebar-menu {
  background-color: #222d32;
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar {
  min-height: calc(100vh - 86px);
  color: #ffffff;
  padding-top: 10px;
  margin: 0 !important;
}

.sidebar-menu li {
  display: inline;
  cursor: pointer;
}

.sidebar-close {
  width: 51px !important;
  padding-top: 20px;
  text-align: center !important;
}

.sidebar-close .show-text {
  display: none !important;
}

.sidebar-close .nav-item:hover > .dropdown-menu {
  width: 213px !important;
  margin-top: -43px !important;
  margin-left: 50px !important;
  position: absolute !important;
}

.sidebar-open {
  width: 213px !important;
  display: block !important;
  padding-left: 9px !important;
}

.sidebar-open .show-text {
  display: inline !important;
}

.dropdown-toggle::after {
  display: none;
}

/* sidebar-dropdown */
.sidebar .dropdown-menu {
  width: 100% !important;
  background-color: #009688;
  margin: 0 !important;
  transform-origin: center top;
  border: 0px;
  display: block;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transform: scale(1, 0);
  opacity: 0;
}

.sidebar .dropdown-menu .dropdown-item {
  color: #ffffff;
}

.sidebar .dropdown-menu .dropdown-item:hover {
  background-color: #E5E5E5;
  color: #000000;
}

.sidebar .nav-item:hover > .dropdown-menu {
  position: static;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transform: scale(1, 1);
  opacity: 1;
}

.sidebar .nav-item:hover .dropdown-toggle,
.sidebar .nav-item:focus .dropdown-toggle,
.sidebar .nav-item:active .dropdown-toggle {
  width: 100%;
  display: block;
  background-color: #00635a;
  border-left: 2px solid #ffffff;
}

.nav-link a {
  color: #ffffff;
  text-decoration: none;
}

.nav-link a :hover {
  color: #ffffff;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 575px) {
  /**/
  body {
    background-color: red;
  }
  svg {
    width: 100%;
    height: 250px;
  }
  .show-text {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-color: orange;
  }
  svg {
    width: 100%;
    height: 400px;
  }
  .show-text {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /**/
  body {
    background-color: green;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /**/
  body {
    background-color: pink;
  }
}

@media (min-width: 1200px) {
  /*body{background-color:black;}*/
}

.main-block {
  background-color: #E5E5E5;
}

/* Modules - modules blocks, buttons, forms, etc */
/* Blocks */
.main-block {
  background-color: #E5E5E5;
}

/* Buttons */
/* Components */
/* Date And Time */
.date-time {
  background-color: #222d32;
  color: #ffffff;
  font-size: 35px;
  font-family: 'DSDIGI' !important;
  border: 2px groove #009688;
}

/*styles for world map: START*/
#map {
  background: skyblue;
  text-align: center;
}

#float-button-group {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.5;
}

#float-button-group:hover {
  opacity: 1;
}

#map-zoomer {
  position: relative;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100px;
  padding: 0 5px;
  position: absolute;
  top: 150px;
  left: 45px;
}

.worldMapMycountry:hover {
  stroke: #fff;
  fill: #009688 !important;
  fill-opacity: 1;
  stroke-width: 0.1px;
}

/*styles for world map: END*/
/* Loading */
.loading {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}

.fa-spinner {
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  width: 100%;
  height: 300px;
}

/* End Loading */
/* Forms */
/* Profile Form Modal */
.profile-form {
  background-color: #222d32;
  color: #ffffff;
}

.profile-form .modal-header {
  border-bottom: 1px solid #009688;
}

.profile-form .modal-footer {
  border-top: 1px solid #009688;
}

.profile-form .btn-primary {
  background-color: #009688;
  border: 0;
}

/* End Profile Form Modal */
/* Login Form */
.login-form {
  background-color: #222d32;
  color: #009688;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  -moz-box-shadow: 1px 22px 24px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 22px 24px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 22px 24px 0 rgba(0, 0, 0, 0.5);
}

.login-form .btn-primary {
  background-color: #009688;
  color: #ffffff;
  text-align: center;
}

/* Pop Up Form Modal */
.pop-up-form .modal-content {
  background-color: #222d32;
  color: #ffffff;
  border: 0px;
}

.pop-up-form .modal-content .btn-success {
  background-color: #009688;
  border: 0;
  float: right;
}

.pop-up-form .modal-header {
  border-bottom: 2px solid #009688;
  display: block !important;
}

.pop-up-form .modal-header .modal-title {
  float: left;
}

.pop-up-form .modal-header .close {
  font-size: 35px;
  color: red;
  opacity: 1;
  cursor: pointer;
}

/* Section */
/* typography */
